<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <h2>Name: <input type="text" name="name" value="Name"></h2>
  <h2>Email <input type="text" name="email" value="E-mail">  </h2>
  <h2>Password <input type="text"  name="password" value="Password"> </h2>
  <input type="submit" id="submit" value="Sign-up">
</form>
